:root {
    --nav-bg-color: rgb(52, 134, 212);
    --button-color: rgb(52, 134, 212);
    --text-color: white;
}

body {
    height: 100vh;
    display: flex;
    padding: 0;
    margin: 0;
}

@media (min-width: 800px){
    nav {
        width: 20%;
    }

    main {
        width: 80%;
    }
}

@media (min-width:  580px) and (max-width: 799px) {
    nav {
        width: 30%;
    }

    main {
        width: 70%;
    }
}

nav {
    background-color: var(--nav-bg-color);
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 10px;
}

.nav-header-container{
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.nav-header-container p {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif, cursive;
}

.dashboard {
    height: 50px;
    width: auto;
}

.nav-body-container,
.nav-footer-container {
    padding: 0 0 0 10px;
}

.item {
    display: flex;
    align-items: center;
    height: 43px;
    column-gap: 10px;
}

.item p {
    font-family: Comic, cursive;
    color: var(--text-color);
    font-size: 18px;
}

.item img {
    height: 30px;
    width: auto;
}

main {
    display: grid;
    grid-template-rows: 2fr 9fr;
}

.main-header-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding: 5px 1rem;
}

.search-profile-container {
    display: flex;
    padding: 5px 0px;
    align-items: center;
}

.search-container {
    display: flex;
    gap: 10px;
    align-items: center;
    width: 65%;
    height: 50%;
}

#search {
    width: 80%;
    height: 20px;
    background-color: rgb(227, 227, 227);
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 5px 0 5px 10px;
    font-size: 16px;
    font-family: Comic, cursive;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 35%;
}

.notification {
    height: 25px;
    width: auto;
}

.profile-logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.profile-logo-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.profile-container p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.account-new-upload-share-container {
    display: flex;
}

.account-container {
    width: 50%;
    gap: 10px;
    align-items: center;
    display: flex;
}

.big-profile-logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.big-profile-logo-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.account-container > div > p {
    margin: 0;
}

.account-container > div > #greetings {
    font-size: 15px;
    font-weight: bold;
}

.account-container > div > #username {
    font-size: 25px;   
    font-weight: bold; 
}

.new-upload-share-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.new-upload-share-container button {
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
}

.main-body-container {
    background-color: rgb(184, 184, 184);
    display: grid;
}