@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Inter&family=Megrim&family=Oldenburg&family=Poor+Story&family=Roboto+Condensed&family=Roboto:wght@300&family=Salsa&display=swap');

:root {
    --nav-bg-color: #1f2937;
    --button-color: #fb7185;
    --button-hover: #ca3148;
    --text-color: white;
}

body {
    display: flex;
    padding: 0;
    margin: 0;
}

@media (min-width: 1400px) {
    nav {
        width: 20%;
        gap: 30px;
        flex-direction: column;
        padding: 10px;
    }

    .item {
        column-gap: 10px;
    }

    .item p {
        font-size: 15px;
    }

    .nav-header-container{
        display: flex;
    }

    .nav-header-container p {
        font-size: 25px;
    }

    .nav-body-container {
        padding: 0 0 0 10px;
    }

    #menu-icon {
        display: none;
    }

    #task-icon,
    #history-icon,
    #communities-icon{
        display: flex;
    }

    .github-repo {
        display: flex;
    }

    main {
        width: 80%;
    }

    .main-header-container {
        padding: 0px 1rem;
    }

    #menu-btn {
        display: none;
    }

    .new-upload-share-container button {
        display: flex;
    }

    .account-container {
        width: 70%;
    }

    .new-upload-share-container {
        width: 30%;
        justify-content: center;
    }

    .search-container {
        width: 80%;
    }

    .new-upload-share-container {
        gap: 20px;
    }

    .account-container > div > #username {
        font-size: 25px;
    }

    .new-upload-share-container button {
        padding: 0.5rem 1.5rem;
    }

    .profile-container {
        width: 20%;
        gap: 30px;
    }

    .projects-container {
        grid-template-columns: repeat(4, minmax(150px, 2fr));
    }
}

@media (min-width: 1201px) and (max-width: 1399px) {
    nav {
        padding: 10px;
        width: 20%;
        gap: 30px;
        flex-direction: column;
    }

    .item {
        column-gap: 10px;
    }

    .item p {
        font-size: 15px;
    }

    .nav-header-container{
        display: flex;
    }

    .nav-header-container p {
        font-size: 25px;
    }

    .nav-body-container {
        padding: 0 0 0 10px;
    }

    #menu-icon {
        display: none;
    }

    #task-icon,
    #history-icon,
    #communities-icon{
        display: flex;
    }

    .github-repo {
        display: flex;
    }
    
    #menu-btn {
        display: none;
    }

    .new-upload-share-container button {
        display: flex;
    }

    main {
        width: 80%;
    }

    .main-header-container {
        padding: 0px 1rem;
    }

    .account-container {
        width: 70%;
    }

    .account-container > div > #username {
        font-size: 25px;
    }

    .new-upload-share-container {
        width: 30%;
        justify-content: center;
    }

    .search-container {
        width: 80%;
    }

    .new-upload-share-container {
        gap: 20px;
    }

    .new-upload-share-container button {
        padding: 0.5rem 1.5rem;
    }

    .profile-container {
        width: 20%;
        gap: 30px;
    }

    .projects-container {
        grid-template-columns: repeat(3, minmax(150px, 2fr));
    }
}

@media (min-width: 800px) and (max-width: 1200px){
    nav {
        padding: 10px;
        width: 20%;
        gap: 30px;
        flex-direction: column;
    }

    .item {
        column-gap: 10px;
    }

    .item p {
        font-size: 15px;
    }

    .nav-header-container{
        display: flex;
    }

    .nav-header-container p {
        font-size: 22px;
    }

    .nav-body-container {
        padding: 0 0 0 10px;
    }

    #menu-icon {
        display: none;
    }

    #task-icon,
    #history-icon,
    #communities-icon{
        display: flex;
    }

    .github-repo {
        display: flex;
    }

    main {
        width: 80%;
    }

    .main-header-container {
        padding: 0px 1rem;
    }

    #menu-btn {
        display: none;
    }

    .new-upload-share-container button {
        display: flex;
    }

    .search-container {
        width: 65%;
    }

    .profile-container {
        width: 35%;
        gap: 15px;
    }

    .account-container {
        width: 60%;
    }

    .account-container > div > #username {
        font-size: 18px;
    }

    .new-upload-share-container {
        gap: 10px;
        width: 40%;
        justify-content: center;
    }

    .new-upload-share-container button {
        padding: 0.5rem 1rem;
    }

    .projects-container {
        grid-template-columns: repeat(2, minmax(150px, 2fr));
    }
}

@media (min-width:  600px) and (max-width: 799px) {
    nav {
        padding: 10px;
        width: 30%;
        gap: 20px;
        flex-direction: column;
    }

    .item {
        column-gap: 10px;
    }

    .item p {
        font-size: 15px;
    }

    .nav-header-container{
        display: flex;
    }

    .nav-header-container p {
        font-size: 16px;
    }

    .nav-body-container {
        padding: 0 0 0 10px;
    }

    #menu-icon {
        display: none;
    }

    #task-icon,
    #history-icon,
    #communities-icon{
        display: flex;
    }

    .github-repo {
        display: flex;
    }

    main {
        width: 70%;
    }

    .main-header-container {
        padding: 0px 0.25rem;
    }

    #menu-btn {
        display: none;
    }

    .new-upload-share-container button {
        display: flex;
    }

    .search-container {
        width: 55%;
    }

    .profile-container {
        width: 45%;
        gap: 5px;
    }

    .account-container {
        width: 50%;
    }

    .account-container > div > #username {
        font-size: 14px;
    }

    .new-upload-share-container {
        width: 50%;
        justify-content: center;
        gap: 10px
    }

    .new-upload-share-container button {
        padding: 0.5rem 0.75rem;
    }

    .projects-container {
        grid-template-columns: repeat(1, minmax(150px, 2fr));
    }
}

@media (min-width: 0px) and (max-width: 599px) {
    body {
        flex-direction: column;
    }

    .nav-header-container p {
        font-size: 16px;
    }

    .nav-body-container {
        padding: 0 0 0 0px;
    }

    nav {
        padding: 2px;
        justify-content: center;
        flex-direction: row;
    }

    .item {
        column-gap: 2px;
    }

    .item p {
        font-size: 13px;
    }

    .nav-body-container {
        display: flex;
        padding: 0;
        width: 100%;
        justify-content: space-evenly;
    }

    .nav-header-container{
        display: none;
    }

    #menu-icon {
        display: flex;
    }

    #task-icon,
    #history-icon,
    #communities-icon{
        display: none;
    }

    .github-repo {
        display: none;
    }

    .nav-footer-container {
        display: none;
    }

    .main-header-container {
        padding: 0px 0.25rem;
    }

    #menu-btn {
        display: flex;
        padding: 5px 1rem;
    }

    .new-upload-share-container button {
        display: none;
    }

    .search-container {
        width: 55%;
    }

    .new-upload-share-container {
        gap: 10px;
        justify-content: flex-end;
    }

    .profile-container {
        width: 45%;
        gap: 5px;
    }

    .account-container {
        width: 50%;
    }

    .account-container > div > #username {
        font-size: 14px;
    }

    .new-upload-share-container {
        width: 50%;
    }

    .new-upload-share-container button {
        padding: 0.5rem 0.75rem;
    }
}

nav {
    display: flex;
    background-color: var(--nav-bg-color);
}

.nav-header-container{
    align-items: center;
    color: var(--text-color);
}

.nav-header-container p {
    font-family: "Inter", sans-serif;
}

.dashboard {
    height: 50px;
    width: auto;
}

.nav-footer-container {
    padding: 0 0 0 10px;
}

.item {
    display: flex;
    align-items: center;
    height: 43px;
}

.item p {
    font-family: 'Roboto', sans-serif, cursive;
    color: var(--text-color);
}

.item p:hover {
    cursor: pointer;
    color: red;
}

.item img {
    height: 30px;
    width: auto;
}

.github-repo {
    flex-direction: column;
    align-items: center;
}

.github-repo p{
    font-family: "Roboto", sans-serif;
    color: var(--text-color);
    font-size: 15px;
}

.github-icon {
    height: 50px;
}

main {
    display: grid;
    grid-template-rows: 160px  1fr;
}

.main-header-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.search-profile-container {
    display: flex;
    padding: 5px 0px;
    align-items: center;
}

.search-container {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 50%;
}

#search {
    width: 80%;
    height: 20px;
    background-color: rgb(227, 227, 227);
    outline: none;
    border: none;
    border-radius: 15px;
    padding: 5px 0 5px 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification {
    height: 25px;
    width: auto;
}

.profile-logo {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.profile-logo-img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.profile-container p {
    font-family: "Salsa", sans-serif;
    font-weight: bold;
}

.account-new-upload-share-container {
    display: flex;
    align-items: center;
}

.account-container {
    align-items: center;
    display: flex;
}

.big-profile-logo {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.big-profile-logo-img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.account-container > div > p {
    margin: 0;
}

.account-container > div > #greetings {
    font-size: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.account-container > div > #username {
    font-family: 'Comic Neue', sans-serif;  
    font-weight: bold; 
}

.new-upload-share-container {
    display: flex;
    align-items: center;
}

.new-upload-share-container button {
    background-color: var(--button-color);
    border: none;
    color: var(--text-color);
    border-radius: 20px;
    font-family: "Roboto", sans-serif;
}


.new-upload-share-container button:hover {
    background-color: var(--button-hover);
    cursor: pointer; 
}

.main-body-container {
    background-color: rgb(219, 219, 219);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 10px;
    column-gap: 15px;
    row-gap: 15px;
}

.projects-heading-container {
    grid-column: 1/2;
    grid-row: 1/3;
}

.projects-heading-container > p,
.annoucements-container > p,
.trending-container > p {
    margin: 0;
    font-weight: bold;
    font-family: "Megrim", cursive;
    margin-bottom: 5px;
}

.projects-container {
    display: grid;
    gap: 20px;
}

.card {
    background-color: var(--text-color);
    border: none;
    border-radius: 8px;
    display: flex;
    transition: 0.20s;
    height: 180px;
}

.card:hover {
    box-shadow: 5px 5px gray;
    cursor: pointer;
}

.card-color {
    background-color: #6366f1;
    width: 20px;
    height: 100%;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.title-description-icon {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.card-title {
    font-weight: bold;
    font-family: "Inter", sans-serif;
}

.card-description p {
    color: rgb(174, 174, 174);
    font-family: "Comic Neue", sans-serif;
    margin: 0;
    margin-top: 2px;
}

.card-icon {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.annoucements-container {
    grid-column: 2/3;
    grid-row: 1/2;
    font-weight: bold; 
}

.annoucements, .trending {
    background-color: var(--text-color);
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.annoucements-item {
    padding: 10px;
}

.annoucements-item p {
    margin: 0;
}

.annoucements-item .annoucements-title {
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.annoucements-item .annoucements-description {
    font-weight: normal;
    font-family: "Comic Neue", sans-serif;
    color: rgb(162, 162, 162);
}

.trending-container {
    grid-column: 2/3;
    grid-row: 2/3;
}

.trending {
    gap: 20px;
    padding: 15px;
}

.trending-item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.trending-item-logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.trending-item-logo-img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.trending-text p {
    margin: 0;
    padding: 0;
}

.trending-profile {
    font-weight: bold;
    font-family: "Salsa", Arial, Helvetica, sans-serif;
}

.trending-profile-job {
    font-weight: normal;
    font-size: 14px;
    color: rgb(145, 145, 145);
    font-family: "Roboto", sans-serif;
}
